@font-face{
    font-family: Manjari;
    src: url('../fonts/manjari/Manjari-Bold.ttf') format('truetype');
}
.form-control, .btn{
    border-radius: 0 !important;
}
.req::after{
    content: " *";
    color: red;
}
.alert-danger{
    background-color: red !important;
    color: #fff !important;
    border-radius: 0 !important;
}
.alert-success{
    background-color: green !important;
    color: #fff !important;
    border-radius: 0 !important;
}
/*.form-floating>.form-control{
    height: 15px !important;
}*/
.font-manjari{
    font-family: Manjari !important;
}